{
  "openapi": "3.1.1",
  "info": {
    "title": "SUMIT API - Full",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.sumit.co.il"
    }
  ],
  "paths": {
    "/accounting/customers/create/": {
      "post": {
        "tags": [
          "Accounting (Customers)"
        ],
        "summary": "Create customer or find existing customer according to SearchMode",
        "operationId": "AccountingCustomersCreate",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_Create_Request"
                  }
                ]
              },
              "example": {
                "Details": {
                  "ExternalIdentifier": null,
                  "NoVAT": null,
                  "SearchMode": null,
                  "Name": "Danny Dean",
                  "Phone": "050-1234567",
                  "EmailAddress": "danny@dean.com",
                  "City": null,
                  "Address": null,
                  "ZipCode": null,
                  "CompanyNumber": "514000123",
                  "ID": null,
                  "Folder": null,
                  "Properties": null
                },
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "JsWEV5noOdExw5l4EPzSWItjl8rtz2UbsXY6w33wAYCl8RRKFz"
                },
                "ResponseLanguage": null
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_Create_Request"
                  }
                ]
              },
              "example": {
                "Details": {
                  "ExternalIdentifier": null,
                  "NoVAT": null,
                  "SearchMode": null,
                  "Name": "Danny Dean",
                  "Phone": "050-1234567",
                  "EmailAddress": "danny@dean.com",
                  "City": null,
                  "Address": null,
                  "ZipCode": null,
                  "CompanyNumber": "514000123",
                  "ID": null,
                  "Folder": null,
                  "Properties": null
                },
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "JsWEV5noOdExw5l4EPzSWItjl8rtz2UbsXY6w33wAYCl8RRKFz"
                },
                "ResponseLanguage": null
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_Create_Request"
                  }
                ]
              },
              "example": {
                "Details": {
                  "ExternalIdentifier": null,
                  "NoVAT": null,
                  "SearchMode": null,
                  "Name": "Danny Dean",
                  "Phone": "050-1234567",
                  "EmailAddress": "danny@dean.com",
                  "City": null,
                  "Address": null,
                  "ZipCode": null,
                  "CompanyNumber": "514000123",
                  "ID": null,
                  "Folder": null,
                  "Properties": null
                },
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "JsWEV5noOdExw5l4EPzSWItjl8rtz2UbsXY6w33wAYCl8RRKFz"
                },
                "ResponseLanguage": null
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_Create_Request"
                  }
                ]
              },
              "example": {
                "Details": {
                  "ExternalIdentifier": null,
                  "NoVAT": null,
                  "SearchMode": null,
                  "Name": "Danny Dean",
                  "Phone": "050-1234567",
                  "EmailAddress": "danny@dean.com",
                  "City": null,
                  "Address": null,
                  "ZipCode": null,
                  "CompanyNumber": "514000123",
                  "ID": null,
                  "Folder": null,
                  "Properties": null
                },
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "JsWEV5noOdExw5l4EPzSWItjl8rtz2UbsXY6w33wAYCl8RRKFz"
                },
                "ResponseLanguage": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Customers_Create_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Customers_Create_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Customers_Create_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/customers/update/": {
      "post": {
        "tags": [
          "Accounting (Customers)"
        ],
        "summary": "Update customer or find existing customer according to SearchMode",
        "operationId": "AccountingCustomersUpdate",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_Create_Request"
                  }
                ]
              },
              "example": {
                "Details": {
                  "ExternalIdentifier": null,
                  "NoVAT": null,
                  "SearchMode": null,
                  "Name": "Danny Dean",
                  "Phone": "050-1234567",
                  "EmailAddress": "danny@dean.com",
                  "City": null,
                  "Address": null,
                  "ZipCode": null,
                  "CompanyNumber": "514000123",
                  "ID": null,
                  "Folder": null,
                  "Properties": null
                },
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "2qUzZKJQE7bCt21Lt6UpFIMtzwCtNdyATgerwVWxq3P6sPYKja"
                },
                "ResponseLanguage": null
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_Create_Request"
                  }
                ]
              },
              "example": {
                "Details": {
                  "ExternalIdentifier": null,
                  "NoVAT": null,
                  "SearchMode": null,
                  "Name": "Danny Dean",
                  "Phone": "050-1234567",
                  "EmailAddress": "danny@dean.com",
                  "City": null,
                  "Address": null,
                  "ZipCode": null,
                  "CompanyNumber": "514000123",
                  "ID": null,
                  "Folder": null,
                  "Properties": null
                },
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "2qUzZKJQE7bCt21Lt6UpFIMtzwCtNdyATgerwVWxq3P6sPYKja"
                },
                "ResponseLanguage": null
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_Create_Request"
                  }
                ]
              },
              "example": {
                "Details": {
                  "ExternalIdentifier": null,
                  "NoVAT": null,
                  "SearchMode": null,
                  "Name": "Danny Dean",
                  "Phone": "050-1234567",
                  "EmailAddress": "danny@dean.com",
                  "City": null,
                  "Address": null,
                  "ZipCode": null,
                  "CompanyNumber": "514000123",
                  "ID": null,
                  "Folder": null,
                  "Properties": null
                },
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "2qUzZKJQE7bCt21Lt6UpFIMtzwCtNdyATgerwVWxq3P6sPYKja"
                },
                "ResponseLanguage": null
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_Create_Request"
                  }
                ]
              },
              "example": {
                "Details": {
                  "ExternalIdentifier": null,
                  "NoVAT": null,
                  "SearchMode": null,
                  "Name": "Danny Dean",
                  "Phone": "050-1234567",
                  "EmailAddress": "danny@dean.com",
                  "City": null,
                  "Address": null,
                  "ZipCode": null,
                  "CompanyNumber": "514000123",
                  "ID": null,
                  "Folder": null,
                  "Properties": null
                },
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "2qUzZKJQE7bCt21Lt6UpFIMtzwCtNdyATgerwVWxq3P6sPYKja"
                },
                "ResponseLanguage": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Customers_Update_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Customers_Update_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Customers_Update_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/customers/getdetailsurl/": {
      "post": {
        "tags": [
          "Accounting (Customers)"
        ],
        "summary": "Gets customer details page",
        "operationId": "AccountingCustomersGetDetailsURL",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_GetDetailsURL_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_GetDetailsURL_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_GetDetailsURL_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_GetDetailsURL_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Customers_GetDetailsURL_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Customers_GetDetailsURL_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Customers_GetDetailsURL_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/customers/createremark/": {
      "post": {
        "tags": [
          "Accounting (Customers)"
        ],
        "summary": "Create customer or find existing customer according to SearchMode",
        "operationId": "AccountingCustomersCreateRemark",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_CreateRemark_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_CreateRemark_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_CreateRemark_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Customers_CreateRemark_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Customers_CreateRemark_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Customers_CreateRemark_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Customers_CreateRemark_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/documents/send/": {
      "post": {
        "tags": [
          "Accounting (Documents)"
        ],
        "summary": "Send document by email",
        "description": "Documents can be located either using DocumentID (EntityID), or a combination of DocumentType and DocumentNumber.",
        "operationId": "AccountingDocumentsSend",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_Send_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_Send_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_Send_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_Send_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Core_APIEmptyResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Core_APIEmptyResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Core_APIEmptyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/documents/getpdf/": {
      "post": {
        "tags": [
          "Accounting (Documents)"
        ],
        "summary": "Get document PDF",
        "description": "Documents can be located either using DocumentID, or a combination of DocumentType and DocumentNumber.",
        "operationId": "AccountingDocumentsGetPDF",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetPDF_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetPDF_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetPDF_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetPDF_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/accounting/documents/getdetails/": {
      "post": {
        "tags": [
          "Accounting (Documents)"
        ],
        "summary": "Get document details",
        "description": "Documents can be located either using DocumentID, or a combination of both DocumentType and DocumentNumber.",
        "operationId": "AccountingDocumentsGetDetails",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetDetails_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetDetails_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetDetails_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetDetails_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_GetDetails_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_GetDetails_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_GetDetails_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/documents/create/": {
      "post": {
        "tags": [
          "Accounting (Documents)"
        ],
        "summary": "Create document",
        "description": "Creates an invoice, receipt, donation receipt, price quotation or any other income accounting document.",
        "operationId": "AccountingDocumentsCreate",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_Create_Request"
                  }
                ]
              },
              "example": {
                "Details": {
                  "IsDraft": null,
                  "Date": null,
                  "Customer": {
                    "ExternalIdentifier": null,
                    "NoVAT": null,
                    "SearchMode": 0,
                    "Name": "Danny Dean",
                    "Phone": null,
                    "EmailAddress": "danny@dean.com",
                    "City": null,
                    "Address": null,
                    "ZipCode": null,
                    "CompanyNumber": null,
                    "ID": null,
                    "Folder": null,
                    "Properties": null
                  },
                  "SendByEmail": {
                    "EmailAddress": "danny@dean.com",
                    "Original": true,
                    "SendAsPaymentRequest": false
                  },
                  "Language": null,
                  "Currency": null,
                  "Type": 1,
                  "Description": null,
                  "ExternalReference": null,
                  "OpeningTextHTML": null,
                  "OpeningText": null,
                  "ClosingTextHTML": null,
                  "ClosingText": null,
                  "DueDate": null,
                  "PaymentRequestText": null,
                  "Properties": null
                },
                "Items": [
                  {
                    "Quantity": 2.0,
                    "UnitPrice": 50.0,
                    "TotalPrice": 100.0,
                    "DocumentCurrency_UnitPrice": null,
                    "DocumentCurrency_TotalPrice": null,
                    "VAT": null,
                    "DocumentCurrency_VAT": null,
                    "Item": {
                      "ID": null,
                      "Name": "My Product",
                      "Description": null,
                      "Price": null,
                      "Currency": null,
                      "Cost": null,
                      "ExternalIdentifier": null,
                      "SKU": null,
                      "SearchMode": 0,
                      "Properties": null
                    },
                    "Description": null
                  }
                ],
                "Payments": [
                  {
                    "Amount": 100.0,
                    "DocumentCurrency_Amount": null,
                    "Type": null,
                    "PaymentElementID": null,
                    "Details_General": null,
                    "Details_Cash": null,
                    "Details_BankTransfer": null,
                    "Details_Cheque": null,
                    "Details_CreditCard": {
                      "CardBrand": null,
                      "Last4Digits": "1234",
                      "FirstPayment": null,
                      "EachPayment": null,
                      "Payments": null
                    },
                    "Details_Other": null,
                    "Details_Digital": null,
                    "Details_TaxWithholding": null
                  }
                ],
                "VATIncluded": true,
                "VATPerItem": null,
                "VATRate": null,
                "OriginalDocumentID": null,
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "sOTKCyzxc1xoyZC2AtkOuaVDXXNOAe5ZEuH9ZOxaVztZ6ZCl8e"
                },
                "ResponseLanguage": null
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_Create_Request"
                  }
                ]
              },
              "example": {
                "Details": {
                  "IsDraft": null,
                  "Date": null,
                  "Customer": {
                    "ExternalIdentifier": null,
                    "NoVAT": null,
                    "SearchMode": 0,
                    "Name": "Danny Dean",
                    "Phone": null,
                    "EmailAddress": "danny@dean.com",
                    "City": null,
                    "Address": null,
                    "ZipCode": null,
                    "CompanyNumber": null,
                    "ID": null,
                    "Folder": null,
                    "Properties": null
                  },
                  "SendByEmail": {
                    "EmailAddress": "danny@dean.com",
                    "Original": true,
                    "SendAsPaymentRequest": false
                  },
                  "Language": null,
                  "Currency": null,
                  "Type": 1,
                  "Description": null,
                  "ExternalReference": null,
                  "OpeningTextHTML": null,
                  "OpeningText": null,
                  "ClosingTextHTML": null,
                  "ClosingText": null,
                  "DueDate": null,
                  "PaymentRequestText": null,
                  "Properties": null
                },
                "Items": [
                  {
                    "Quantity": 2.0,
                    "UnitPrice": 50.0,
                    "TotalPrice": 100.0,
                    "DocumentCurrency_UnitPrice": null,
                    "DocumentCurrency_TotalPrice": null,
                    "VAT": null,
                    "DocumentCurrency_VAT": null,
                    "Item": {
                      "ID": null,
                      "Name": "My Product",
                      "Description": null,
                      "Price": null,
                      "Currency": null,
                      "Cost": null,
                      "ExternalIdentifier": null,
                      "SKU": null,
                      "SearchMode": 0,
                      "Properties": null
                    },
                    "Description": null
                  }
                ],
                "Payments": [
                  {
                    "Amount": 100.0,
                    "DocumentCurrency_Amount": null,
                    "Type": null,
                    "PaymentElementID": null,
                    "Details_General": null,
                    "Details_Cash": null,
                    "Details_BankTransfer": null,
                    "Details_Cheque": null,
                    "Details_CreditCard": {
                      "CardBrand": null,
                      "Last4Digits": "1234",
                      "FirstPayment": null,
                      "EachPayment": null,
                      "Payments": null
                    },
                    "Details_Other": null,
                    "Details_Digital": null,
                    "Details_TaxWithholding": null
                  }
                ],
                "VATIncluded": true,
                "VATPerItem": null,
                "VATRate": null,
                "OriginalDocumentID": null,
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "sOTKCyzxc1xoyZC2AtkOuaVDXXNOAe5ZEuH9ZOxaVztZ6ZCl8e"
                },
                "ResponseLanguage": null
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_Create_Request"
                  }
                ]
              },
              "example": {
                "Details": {
                  "IsDraft": null,
                  "Date": null,
                  "Customer": {
                    "ExternalIdentifier": null,
                    "NoVAT": null,
                    "SearchMode": 0,
                    "Name": "Danny Dean",
                    "Phone": null,
                    "EmailAddress": "danny@dean.com",
                    "City": null,
                    "Address": null,
                    "ZipCode": null,
                    "CompanyNumber": null,
                    "ID": null,
                    "Folder": null,
                    "Properties": null
                  },
                  "SendByEmail": {
                    "EmailAddress": "danny@dean.com",
                    "Original": true,
                    "SendAsPaymentRequest": false
                  },
                  "Language": null,
                  "Currency": null,
                  "Type": 1,
                  "Description": null,
                  "ExternalReference": null,
                  "OpeningTextHTML": null,
                  "OpeningText": null,
                  "ClosingTextHTML": null,
                  "ClosingText": null,
                  "DueDate": null,
                  "PaymentRequestText": null,
                  "Properties": null
                },
                "Items": [
                  {
                    "Quantity": 2.0,
                    "UnitPrice": 50.0,
                    "TotalPrice": 100.0,
                    "DocumentCurrency_UnitPrice": null,
                    "DocumentCurrency_TotalPrice": null,
                    "VAT": null,
                    "DocumentCurrency_VAT": null,
                    "Item": {
                      "ID": null,
                      "Name": "My Product",
                      "Description": null,
                      "Price": null,
                      "Currency": null,
                      "Cost": null,
                      "ExternalIdentifier": null,
                      "SKU": null,
                      "SearchMode": 0,
                      "Properties": null
                    },
                    "Description": null
                  }
                ],
                "Payments": [
                  {
                    "Amount": 100.0,
                    "DocumentCurrency_Amount": null,
                    "Type": null,
                    "PaymentElementID": null,
                    "Details_General": null,
                    "Details_Cash": null,
                    "Details_BankTransfer": null,
                    "Details_Cheque": null,
                    "Details_CreditCard": {
                      "CardBrand": null,
                      "Last4Digits": "1234",
                      "FirstPayment": null,
                      "EachPayment": null,
                      "Payments": null
                    },
                    "Details_Other": null,
                    "Details_Digital": null,
                    "Details_TaxWithholding": null
                  }
                ],
                "VATIncluded": true,
                "VATPerItem": null,
                "VATRate": null,
                "OriginalDocumentID": null,
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "sOTKCyzxc1xoyZC2AtkOuaVDXXNOAe5ZEuH9ZOxaVztZ6ZCl8e"
                },
                "ResponseLanguage": null
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_Create_Request"
                  }
                ]
              },
              "example": {
                "Details": {
                  "IsDraft": null,
                  "Date": null,
                  "Customer": {
                    "ExternalIdentifier": null,
                    "NoVAT": null,
                    "SearchMode": 0,
                    "Name": "Danny Dean",
                    "Phone": null,
                    "EmailAddress": "danny@dean.com",
                    "City": null,
                    "Address": null,
                    "ZipCode": null,
                    "CompanyNumber": null,
                    "ID": null,
                    "Folder": null,
                    "Properties": null
                  },
                  "SendByEmail": {
                    "EmailAddress": "danny@dean.com",
                    "Original": true,
                    "SendAsPaymentRequest": false
                  },
                  "Language": null,
                  "Currency": null,
                  "Type": 1,
                  "Description": null,
                  "ExternalReference": null,
                  "OpeningTextHTML": null,
                  "OpeningText": null,
                  "ClosingTextHTML": null,
                  "ClosingText": null,
                  "DueDate": null,
                  "PaymentRequestText": null,
                  "Properties": null
                },
                "Items": [
                  {
                    "Quantity": 2.0,
                    "UnitPrice": 50.0,
                    "TotalPrice": 100.0,
                    "DocumentCurrency_UnitPrice": null,
                    "DocumentCurrency_TotalPrice": null,
                    "VAT": null,
                    "DocumentCurrency_VAT": null,
                    "Item": {
                      "ID": null,
                      "Name": "My Product",
                      "Description": null,
                      "Price": null,
                      "Currency": null,
                      "Cost": null,
                      "ExternalIdentifier": null,
                      "SKU": null,
                      "SearchMode": 0,
                      "Properties": null
                    },
                    "Description": null
                  }
                ],
                "Payments": [
                  {
                    "Amount": 100.0,
                    "DocumentCurrency_Amount": null,
                    "Type": null,
                    "PaymentElementID": null,
                    "Details_General": null,
                    "Details_Cash": null,
                    "Details_BankTransfer": null,
                    "Details_Cheque": null,
                    "Details_CreditCard": {
                      "CardBrand": null,
                      "Last4Digits": "1234",
                      "FirstPayment": null,
                      "EachPayment": null,
                      "Payments": null
                    },
                    "Details_Other": null,
                    "Details_Digital": null,
                    "Details_TaxWithholding": null
                  }
                ],
                "VATIncluded": true,
                "VATPerItem": null,
                "VATRate": null,
                "OriginalDocumentID": null,
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "sOTKCyzxc1xoyZC2AtkOuaVDXXNOAe5ZEuH9ZOxaVztZ6ZCl8e"
                },
                "ResponseLanguage": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_Create_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_Create_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_Create_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/documents/addexpense/": {
      "post": {
        "tags": [
          "Accounting (Documents)"
        ],
        "summary": "Add expense",
        "operationId": "AccountingDocumentsAddExpense",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_AddExpense_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_AddExpense_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_AddExpense_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_AddExpense_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_AddExpense_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_AddExpense_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_AddExpense_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/documents/cancel/": {
      "post": {
        "tags": [
          "Accounting (Documents)"
        ],
        "summary": "Cancel existing document",
        "operationId": "AccountingDocumentsCancel",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_Cancel_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_Cancel_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_Cancel_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_Cancel_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_Cancel_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_Cancel_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_Cancel_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/documents/movetobooks/": {
      "post": {
        "tags": [
          "Accounting (Documents)"
        ],
        "summary": "Move document to books (Finalize a draft document).",
        "operationId": "AccountingDocumentsMoveToBooks",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_MoveToBooks_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_MoveToBooks_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_MoveToBooks_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_MoveToBooks_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_MoveToBooks_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_MoveToBooks_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_MoveToBooks_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/documents/getdebt/": {
      "post": {
        "tags": [
          "Accounting (Documents)"
        ],
        "summary": "Get customer debt",
        "operationId": "AccountingDocumentsGetDebt",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetDebt_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetDebt_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetDebt_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetDebt_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_GetDebt_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_GetDebt_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_GetDebt_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/documents/getdebtreport/": {
      "post": {
        "tags": [
          "Accounting (Documents)"
        ],
        "summary": "Get customers debt report",
        "operationId": "AccountingDocumentsGetDebtReport",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetDebtReport_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetDebtReport_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetDebtReport_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_GetDebtReport_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_GetDebtReport_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_GetDebtReport_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_GetDebtReport_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/documents/list/": {
      "post": {
        "tags": [
          "Accounting (Documents)"
        ],
        "summary": "List documents",
        "operationId": "AccountingDocumentsList",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_List_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_List_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_List_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_Documents_List_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_List_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_List_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_Documents_List_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/general/verifybankaccount/": {
      "post": {
        "tags": [
          "Accounting (General)"
        ],
        "summary": "Verify bank account details",
        "operationId": "AccountingGeneralVerifyBankAccount",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_VerifyBankAccount_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_VerifyBankAccount_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_VerifyBankAccount_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_VerifyBankAccount_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_VerifyBankAccount_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_VerifyBankAccount_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_VerifyBankAccount_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/general/getvatrate/": {
      "post": {
        "tags": [
          "Accounting (General)"
        ],
        "summary": "Get VAT rate by date",
        "operationId": "AccountingGeneralGetVATRate",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_GetVATRate_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_GetVATRate_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_GetVATRate_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_GetVATRate_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_GetVATRate_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_GetVATRate_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_GetVATRate_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/general/getexchangerate/": {
      "post": {
        "tags": [
          "Accounting (General)"
        ],
        "summary": "Get foreign currency exchange rate",
        "operationId": "AccountingGeneralGetExchangeRate",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_GetExchangeRate_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_GetExchangeRate_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_GetExchangeRate_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_GetExchangeRate_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_GetExchangeRate_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_GetExchangeRate_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_GetExchangeRate_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/general/updatesettings/": {
      "post": {
        "tags": [
          "Accounting (General)"
        ],
        "summary": "Update accounting application settings",
        "operationId": "AccountingGeneralUpdateSettings",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_UpdateSettings_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_UpdateSettings_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_UpdateSettings_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_UpdateSettings_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_UpdateSettings_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_UpdateSettings_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_UpdateSettings_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/general/getnextdocumentnumber/": {
      "post": {
        "tags": [
          "Accounting (General)"
        ],
        "summary": "Gets the next document number of a document type.",
        "operationId": "AccountingGeneralGetNextDocumentNumber",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_GetNextDocumentNumber_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_GetNextDocumentNumber_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_GetNextDocumentNumber_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_GetNextDocumentNumber_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_GetNextDocumentNumber_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_GetNextDocumentNumber_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_GetNextDocumentNumber_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/general/setnextdocumentnumber/": {
      "post": {
        "tags": [
          "Accounting (General)"
        ],
        "summary": "Sets the next document number for a document type.",
        "operationId": "AccountingGeneralSetNextDocumentNumber",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_SetNextDocumentNumber_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_SetNextDocumentNumber_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_SetNextDocumentNumber_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_General_SetNextDocumentNumber_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_SetNextDocumentNumber_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_SetNextDocumentNumber_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_General_SetNextDocumentNumber_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/incomeitems/create/": {
      "post": {
        "tags": [
          "Accounting (IncomeItems)"
        ],
        "summary": "Create income item",
        "operationId": "AccountingIncomeItemsCreate",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_IncomeItems_Create_Request"
                  }
                ]
              },
              "example": {
                "IncomeItem": {
                  "ID": null,
                  "Name": "My Item",
                  "Description": null,
                  "Price": 500.0,
                  "Currency": null,
                  "Cost": 200.0,
                  "ExternalIdentifier": null,
                  "SKU": null,
                  "SearchMode": null,
                  "Properties": null
                },
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "td52TBWT2FG17CPH7uWXh4vu6kf04GqdIe2cX2duXSRZWwP7mz"
                },
                "ResponseLanguage": null
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_IncomeItems_Create_Request"
                  }
                ]
              },
              "example": {
                "IncomeItem": {
                  "ID": null,
                  "Name": "My Item",
                  "Description": null,
                  "Price": 500.0,
                  "Currency": null,
                  "Cost": 200.0,
                  "ExternalIdentifier": null,
                  "SKU": null,
                  "SearchMode": null,
                  "Properties": null
                },
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "td52TBWT2FG17CPH7uWXh4vu6kf04GqdIe2cX2duXSRZWwP7mz"
                },
                "ResponseLanguage": null
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_IncomeItems_Create_Request"
                  }
                ]
              },
              "example": {
                "IncomeItem": {
                  "ID": null,
                  "Name": "My Item",
                  "Description": null,
                  "Price": 500.0,
                  "Currency": null,
                  "Cost": 200.0,
                  "ExternalIdentifier": null,
                  "SKU": null,
                  "SearchMode": null,
                  "Properties": null
                },
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "td52TBWT2FG17CPH7uWXh4vu6kf04GqdIe2cX2duXSRZWwP7mz"
                },
                "ResponseLanguage": null
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_IncomeItems_Create_Request"
                  }
                ]
              },
              "example": {
                "IncomeItem": {
                  "ID": null,
                  "Name": "My Item",
                  "Description": null,
                  "Price": 500.0,
                  "Currency": null,
                  "Cost": 200.0,
                  "ExternalIdentifier": null,
                  "SKU": null,
                  "SearchMode": null,
                  "Properties": null
                },
                "Credentials": {
                  "CompanyID": 12345678,
                  "APIKey": "td52TBWT2FG17CPH7uWXh4vu6kf04GqdIe2cX2duXSRZWwP7mz"
                },
                "ResponseLanguage": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_IncomeItems_Create_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_IncomeItems_Create_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_IncomeItems_Create_Response"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/incomeitems/list/": {
      "post": {
        "tags": [
          "Accounting (IncomeItems)"
        ],
        "summary": "List income items",
        "description": "This API is currently marked as alpha, and may change in the future without notice.",
        "operationId": "AccountingIncomeItemsList",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_IncomeItems_List_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_IncomeItems_List_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_IncomeItems_List_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Accounting_IncomeItems_List_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_IncomeItems_List_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_IncomeItems_List_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_Accounting_IncomeItems_List_Response"
                }
              }
            }
          }
        }
      }
    },
    "/creditguy/billing/load/": {
      "post": {
        "tags": [
          "Credit card terminal (Billing)"
        ],
        "summary": "Load billing transactions",
        "operationId": "CreditGuyBillingLoad",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Billing_Load_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Billing_Load_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Billing_Load_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Billing_Load_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Billing_Load_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Billing_Load_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Billing_Load_Response"
                }
              }
            }
          }
        }
      }
    },
    "/creditguy/billing/process/": {
      "post": {
        "tags": [
          "Credit card terminal (Billing)"
        ],
        "summary": "Process loaded billing transactions.",
        "description": "Please note, once process has started, it can't be stopped, and no additional transactions can be loaded.",
        "operationId": "CreditGuyBillingProcess",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Billing_Process_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Billing_Process_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Billing_Process_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Billing_Process_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Billing_Process_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Billing_Process_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Billing_Process_Response"
                }
              }
            }
          }
        }
      }
    },
    "/creditguy/billing/getstatus/": {
      "post": {
        "tags": [
          "Credit card terminal (Billing)"
        ],
        "summary": "Get billing process status",
        "operationId": "CreditGuyBillingGetStatus",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Billing_GetStatus_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Billing_GetStatus_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Billing_GetStatus_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Billing_GetStatus_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Billing_GetStatus_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Billing_GetStatus_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Billing_GetStatus_Response"
                }
              }
            }
          }
        }
      }
    },
    "/creditguy/gateway/transaction/": {
      "post": {
        "tags": [
          "Credit card terminal (Gateway)"
        ],
        "summary": "Credit card transaction",
        "description": "This method should be used in rare occasions.\nFor common use scenarios, refer to \"Payments -> Charge customer\" method.",
        "operationId": "CreditGuyGatewayTransaction",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_Transaction_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_Transaction_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_Transaction_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_Transaction_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Gateway_Transaction_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Gateway_Transaction_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Gateway_Transaction_Response"
                }
              }
            }
          }
        }
      }
    },
    "/creditguy/gateway/gettransaction/": {
      "post": {
        "tags": [
          "Credit card terminal (Gateway)"
        ],
        "summary": "Get existing transaction details",
        "operationId": "CreditGuyGatewayGetTransaction",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_GetTransaction_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_GetTransaction_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_GetTransaction_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_GetTransaction_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Gateway_GetTransaction_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Gateway_GetTransaction_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Gateway_GetTransaction_Response"
                }
              }
            }
          }
        }
      }
    },
    "/creditguy/gateway/beginredirect/": {
      "post": {
        "tags": [
          "Credit card terminal (Gateway)"
        ],
        "summary": "Begin redirect for transaction",
        "operationId": "CreditGuyGatewayBeginRedirect",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_BeginRedirect_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_BeginRedirect_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_BeginRedirect_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_BeginRedirect_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Gateway_BeginRedirect_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Gateway_BeginRedirect_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Gateway_BeginRedirect_Response"
                }
              }
            }
          }
        }
      }
    },
    "/creditguy/gateway/getreferencenumbers/": {
      "post": {
        "tags": [
          "Credit card terminal (Gateway)"
        ],
        "summary": "Get reference numbers for existing transactions",
        "operationId": "CreditGuyGatewayGetReferenceNumbers",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_GetReferenceNumbers_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_GetReferenceNumbers_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_GetReferenceNumbers_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Gateway_GetReferenceNumbers_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Gateway_GetReferenceNumbers_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Gateway_GetReferenceNumbers_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Gateway_GetReferenceNumbers_Response"
                }
              }
            }
          }
        }
      }
    },
    "/creditguy/vault/tokenize/": {
      "post": {
        "tags": [
          "Credit card terminal (Vault)"
        ],
        "summary": "Tokenize card (card number->token)",
        "operationId": "CreditGuyVaultTokenize",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Vault_Tokenize_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Vault_Tokenize_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Vault_Tokenize_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Vault_Tokenize_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Vault_Tokenize_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Vault_Tokenize_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Vault_Tokenize_Response"
                }
              }
            }
          }
        }
      }
    },
    "/creditguy/vault/tokenizesingleuse/": {
      "post": {
        "tags": [
          "Credit card terminal (Vault)"
        ],
        "summary": "Tokenize payment details (Card Number, Expiration, CVV, CitizenID) for single usage.",
        "description": "Used primarily by the Payments JavaScript API.",
        "operationId": "CreditGuyVaultTokenizeSingleUse",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "CardNumber",
                  "ExpirationMonth",
                  "ExpirationYear"
                ],
                "type": "object",
                "properties": {
                  "CardNumber": {
                    "type": "string",
                    "description": "Full card number to tokenize"
                  },
                  "ExpirationMonth": {
                    "type": "integer",
                    "description": "Card expiration month (1-12).",
                    "format": "int32"
                  },
                  "ExpirationYear": {
                    "type": "integer",
                    "description": "Card expiration year (4 digits).",
                    "format": "int32"
                  },
                  "CVV": {
                    "type": "string",
                    "description": "Card CVV/CVV2."
                  },
                  "CitizenID": {
                    "type": "string",
                    "description": "Israel Citizen ID / Passport Number."
                  },
                  "Credentials.CompanyID": {
                    "type": "integer",
                    "description": "Company identifier",
                    "format": "int64"
                  },
                  "Credentials.APIPublicKey": {
                    "type": "string",
                    "description": "API public key"
                  },
                  "ResponseLanguage": {
                    "type": "string",
                    "description": "This property is obsolete. Please refer to the \"Content-Language\" header instead.",
                    "deprecated": true
                  }
                }
              },
              "encoding": {
                "CardNumber": {
                  "style": "form"
                },
                "ExpirationMonth": {
                  "style": "form"
                },
                "ExpirationYear": {
                  "style": "form"
                },
                "CVV": {
                  "style": "form"
                },
                "CitizenID": {
                  "style": "form"
                },
                "Credentials.CompanyID": {
                  "style": "form"
                },
                "Credentials.APIPublicKey": {
                  "style": "form"
                },
                "ResponseLanguage": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Vault_TokenizeSingleUse_Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Vault_TokenizeSingleUse_Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Vault_TokenizeSingleUse_Response"
                }
              }
            }
          }
        }
      }
    },
    "/creditguy/vault/tokenizesingleusejson/": {
      "post": {
        "tags": [
          "Credit card terminal (Vault)"
        ],
        "summary": "Tokenize payment details (Card Number, Expiration, CVV, CitizenID) for single usage.",
        "description": "Used primarily by the Payments JavaScript API.",
        "operationId": "CreditGuyVaultTokenizeSingleUseJSON",
        "parameters": [
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Sets the content response language. Defaults to Hebrew (he).",
            "schema": { }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Vault_TokenizeSingleUse_Request"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Vault_TokenizeSingleUse_Request"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Vault_TokenizeSingleUse_Request"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditGuy_Vault_TokenizeSingleUse_Request"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Response_CreditGuy_Vault_TokenizeSingleUse_Response"
[...]
